@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-display);
  --font-body: var(--font-body);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ddd9d9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;

}
li{
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display), sans-serif;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.close-text{
  letter-spacing: -2px;
}

.lessmargin{
  margin-top:-6rem;
}

p, li{
  font-weight: 400;
  letter-spacing: -1px;
  text-transform: uppercase;
}